<div
  id="carouselExampleIndicators"
  class="carousel slide"
  data-bs-ride="carousel"
>
  <div class="carousel-indicators">
    <button
      type="button"
      data-bs-target="#carouselExampleIndicators"
      *ngFor="let carImage of carImages; let i = index"
      [attr.data-bs-slide-to]="i"
      [class]="i == 0 ? 'active' : ''"
      aria-current="true"
      aria-label="Slide 1"
    ></button>
  </div>
  <div class="carousel-inner">
    <div
      *ngFor="let carImage of carImages; let i = index"
      class="carousel-item {{ i == 0 ? 'active' : null }}"
    >
      <br />
      <img
        src="https://localhost:44390/{{ carImage.imagePath }}"
        class="mx-auto d-block h-auto w-auto"
        style="width: 850px; height: 400px"
      />
    </div>
  </div>
  <button
    class="carousel-control-prev"
    type="button"
    data-bs-target="#carouselExampleIndicators"
    data-bs-slide="prev"
  >
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button
    class="carousel-control-next"
    type="button"
    data-bs-target="#carouselExampleIndicators"
    data-bs-slide="next"
  >
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>

<table *ngIf="dataLoaded == true" class="table">
  <thead>
    <tr>
      <!--<th>Id</th>-->
      <th class="text-center">Marka</th>
      <th class="text-center">Araç</th>
      <th class="text-center">Renk</th>
      <th class="text-center">Model</th>
      <th class="text-center">Günlük Fiyat</th>
      <th class="text-center">Açıklama</th>
      <th></th>
    </tr>
  </thead>




  <tbody >
        <tr>
         <!-- <td>{{detail.id}}</td> -->
          <td class="text-center">{{carDetailDto.brandName}}</td>
          <td class="text-center">{{carDetailDto.carName}}</td>
          <td class="text-center">{{carDetailDto.colorName}}</td>
          <td class="text-center">{{carDetailDto.modelYear}}</td>
          <td class="text-center">{{carDetailDto.dailyPrice}}₺</td>
          <td class="text-center">{{carDetailDto.description}}</td>
          <div *ngIf="checkCarDate==true; then rentButton else denyButton" class="text-center">   </div>
          <ng-template #rentButton ><td><app-rental-add [carDetailDto]="carDetailDto"></app-rental-add></td></ng-template> 
          <!-- <td><ng-template #rentButton><button type="button" class="btn btn-success  text-center" >Hemen Kirala</button></ng-template></td> -->
          <ng-template #denyButton><td><button type="button" 
            class="btn btn-danger disabled" >Already Rented</button>
          </td></ng-template>

        </tr>
      </tbody>
</table>

 <!-- <div *ngFor="let detail of carDetail" class="row"
>
  <div class="col">{{ detail.brandName }}</div>
  <div class="col">{{ detail.carName }}</div>
  <div class="col">{{ detail.colorName }}</div>
  <div class="col">{{ detail.modelYear }}</div>
  <div class="col">{{ detail.dailyPrice }}₺</div>
  <div class="col">{{ detail.description }}</div>
  <div
    *ngIf="checkCarDate == true; then rentButton; else denyButton"
    class="col"
  ></div>
  <div class="col">
    <ng-template #rentButton> <app-rental-add></app-rental-add></ng-template>
    <td><ng-template #rentButton><button type="button" class="btn btn-success  text-center" >Hemen Kirala</button></ng-template></td>
    <ng-template #denyButton
      ><button type="button" class="btn btn-danger disabled">
        Already Rented
      </button></ng-template
    >
  </div>
</div> -->
