<div *ngIf="dataLoaded == false" class="spinner-border text-danger" role="status">
    <span class="visually-hidden">Loading...</span>
  </div>



  <div class="row">

    <div class="col-md-2">
      <app-brand></app-brand>
      <app-color></app-color>
    </div>
    <div class="col-md-10">
      <div class="mb-3">
        <br/>
        <input type="text" [(ngModel)]="filterText" class="form-control" id="filtertext" placeholder="Model Ara"/>
      </div>
      <div *ngIf="filterText.length > 1" class="alert alert-success">{{ filterText }}</div>
      
      
      
      <div class="row  col-md-12 mb-3">
        <div class="col-md-4">
        <select [(ngModel)]="brandNameFilter" class="form-select" aria-label="Default select example">
          <option selected>Marka Seçimi</option>
          <option  *ngFor="let brand of brands" [value]="brand.brandName" selected="{{selectedBrand(brand.brandName)}}">{{ brand.brandName }} </option>
        </select>
        </div>
        
        <div class="col-md-4">
        <select [(ngModel)]="colorNameFilter" class="form-select" aria-label="Default select example">
          <option selected>Renk Seçimi</option>
          <option *ngFor="let color of colors" [value]="color.colorName" selected="{{selectedColor(color.colorName)}}" >{{ color.colorName }}</option>
        </select>
        </div>
      
        <div class=" row-cols-1  col-md-2 ">
        <button routerLink="/{{brandNameFilter}}/{{colorNameFilter}}" 
        class="btn btn-success">
      Filtrele
        </button>
      </div>
      
      
      </div>
      
      <div class="row row-cols-1 row-cols-md-3 g-2">
      
        <div *ngFor="let carDetailDto of carsDetails |filterPipe:filterText" class="col">
          <div class="card" style="width: 18rem">
            <img
              height="280"
              class="card-img-top"
              src="https://localhost:44390/{{ carDetailDto.imagePath }}"
              alt="Card image cap"
            />
            <div class="card-body">
              <h5 class="card-title">
                {{ carDetailDto.brandName }} {{ carDetailDto.carName }}
                {{ carDetailDto.modelYear }}
              </h5>
              <p class="card-text">Renk: {{ carDetailDto.colorName }}</p>
              <p class="card-text">Günlük Fiyat: {{ carDetailDto.dailyPrice }}₺</p>
              <p class="card-text">{{ carDetailDto.description }}</p>
              <li
                routerLink="/cars/detail/{{carDetailDto.carId}}"
                class="btn btn-primary"
              >Aracı İncele
              </li>
            </div>
          </div>
        </div>
      </div>
      <br/>
      <app-rental-detail-dto></app-rental-detail-dto>
      <br/>
      <app-customer></app-customer>
      
    </div>
  </div>



