
  <table class="table">
    <thead>
      <tr>
        <!--<th>Id</th>-->
        <th>Marka Id</th>
        <th>Araba</th>
        <th>Model</th>
        <th>Renk Id</th>
        <th>Ücret</th>
        <th>Bilgi</th>
      </tr>
    </thead>

    <tr *ngFor="let car of cars">
      <!--<td>{{ car.id }}</td>-->
      <td>{{ car.brandId }}</td>
      <td>{{ car.carName }}</td>
      <td>{{ car.modelYear }}</td>
      <td>{{ car.colorId }}</td>
      <td>{{ car.dailyPrice }}"₺"</td>
      <td>{{ car.description }}</td>
    </tr>
  </table>
  